body{
	
}

body header{
	background-color: #F4F4F4;
	user-select: none;
}

.myMenuTitle{
	display: inline;
	/*text-align: middle;*/
}




body div#myMainBody{
	text-align:center;
	margin: 0 auto;
}

body div#myMainBody div#myFileAndMemory{
	float: left;
	background-color: orange;
	width: 600px;
	height: 600px;
}

body div#myMainBody div#myFileAndMemory div#myFile{
	background-color: #BFEFFF;
	height: 400px;
}

div.myFileFolders{
	height:400px;
}

div.myFolderType img{
	height: 35px;
	width: 35px;
}

div.myFolderType div.myFolderName{
	margin-top: -10px;
	user-select: none;
}

body div#myMainBody div#myFileAndMemory div#myMemory{
	background-color: white;
	height: 200px;
}


div#srcList{
	height: 400px;
	width:150px;
	background-color:white;
	overflow-y: auto;
	font-size: 12px;
	-webkit-user-select: none;
	user-select: none;
	float: left;
}

div.ListComponent0{
	border-left: 1px dashed  blue;
}

div.ListComponent1{
	border-left: 1px dashed  red;
	margin-left: 10px;
}

div.ListComponent2{
	border-left: 1px dashed  green;
	margin-left: 10px;
}

div.List0{
	margin-top: 1px;
	border: 0.5px solid black;
	height: 15px;
}

div.List1{
	margin-top: 1px;
	margin-left: 10px;
	border: 0.5px solid black;
	height: 15px;
}

div.List2{
	margin-top: 1px;
	margin-left: 10px;
	border: 0.5px solid black;
	height: 15px;
}

div.List3{
	margin-top: 1px;
	margin-left: 10px;
	border: 0.5px solid black;
	height: 15px;
}

a.fileName{
	float: left;
	margin-left: 5px;
}

img.ListPng{
	width: 12px;
	height: 12px;
	float: left;
	margin-left: 2px;
	margin-top: 1px;
}

div#memoryBar{
	width: 400px;
	height: 70px;
	border: 1px black solid;
	margin-top: 30px;
	margin-left: 50px;
	font-size: 15px;
	-webkit-user-select: none;
}

span.funcType{
	color: red;
	margin-left: 8px;
}

span.funcName{
	color: blue;
	margin-left: 5px;
}

span.paraType{
	color: red;
}

span.paraName{
	color: blue;
	margin-left: 2px;
}

div.srcFuncDef{
	text-align: left;
	border: 0.5px black solid;
	margin-top: 1px;
}

div.srcCodePart{
	text-align: left;
	font-size: 12px;
	/*border: 0.5px black solid;
	margin-top: 1px;*/
}