body{
	
}

body header{
	background-color: #F4F4F4;
	user-select: none;
}

.myMenuTitle{
	display: inline;
	text-align: middle;
}

.myRightMenu{
	display: inline;
	float: right;
}


body div#myMainBody{
	text-align:center;
	margin: 0 auto;
}

body div#myMainBody div#myFileAndMemory{
	float: left;
	background-color: orange;
	width: 600px;
	height: 600px;
}

body div#myMainBody div#myFileAndMemory div#myFile{
	background-color: #BFEFFF;
	height: 400px;
}

div.myFileFolders{
	height:400px;
}

div.myFolderType img{
	height: 35px;
	width: 35px;
}

div.myFolderType div.myFolderName{
	margin-top: -10px;
	user-select: none;
}

body div#myMainBody div#myFileAndMemory div#myMemory{
	background-color: white;
	height: 200px;
}

body div#myMainBody div#myExecute{
	margin-left: 610px;
	width: 400px;
	height: 600px;
}

div#myLogWindow{
	height: 300px;
}

div#myLogButtonBar{
	height: 20px;
	border-top: 0.5px solid black;
	background-color: #F4F4F4;
	border-bottom: 0.5px solid black;
}

div#myLogWindowOutput{
	background-color: #F4F4F4;
	overflow-y: auto;
	height: 255px;
}

div.myLogItem{
	background-color: #FAFAD2;
	box-shadow: 2px 2px 5px #bbb;
	height: 35px;
	margin-top: 2px;
	margin-left: 5px;
}

.myIcon{
	width: 20px;
	height: 20px;
	float: left;
}

div#myScreenWindow{
	height: 300px;
	border: 2px solid black;
}

div#myExecute div header{
	background-color: #F0FFFF;
	user-select: none;
	height: 20px;
}

div#myScreenWindowOutput{
	overflow-y: auto;
	background-color: black;
	height: 280px;
	width: 400px;
	border: 2px solid white;
}

.myConsoleItem{
	margin-left: -185px;
	margin-top: -15px;
	color: white;
}

div#srcList{
	height: 400px;
	width:150px;
	background-color:white;
	overflow-y: auto;
	font-size: 12px;
	-webkit-user-select: none;
	user-select: none;
}

div.ListComponent0{
	border-left: 1px dashed  blue;
}

div.ListComponent1{
	border-left: 1px dashed  red;
	margin-left: 10px;
}

div.ListComponent2{
	border-left: 1px dashed  green;
	margin-left: 10px;
}

div.List0{
	margin-top: 1px;
	border: 0.5px solid black;
	height: 15px;
}

div.List1{
	margin-top: 1px;
	margin-left: 10px;
	border: 0.5px solid black;
	height: 15px;
}

div.List2{
	margin-top: 1px;
	margin-left: 10px;
	border: 0.5px solid black;
	height: 15px;
}

div.List3{
	margin-top: 1px;
	margin-left: 10px;
	border: 0.5px solid black;
	height: 15px;
}

a.fileName{
	float: left;
	margin-left: 5px;
}

img.ListPng{
	width: 12px;
	height: 12px;
	float: left;
	margin-left: 2px;
	margin-top: 1px;
}