
/*absolute
div#linuxSrcFolder{
	position: absolute;
	left: 15px;
	top: 180px;
}

div#Folderboot{
	position: absolute;
	left: 82px;
	top: 35px;
}

div#Folderfs{
	position: absolute;
	left: 82px;
	top: 90px;
}

div#Folderinclude{
	position: absolute;
	left: 82px;
	top: 145px;
}

div#Folderinit{
	position: absolute;
	left: 82px;
	top: 200px;
}

div#Folderkernel{
	position: absolute;
	left: 82px;
	top: 255px;
}

div#Folderlib{
	position: absolute;
	left: 82px;
	top: 310px;
}

div#Foldermm{
	position: absolute;
	left: 82px;
	top: 365px;
}
*/